# Dependencias
/node_modules

# Archivos de configuración
.env

# Archivos generados
/dist
/build

# Logs
/logs

# Archivos de respaldo
*.bak
*.swp
*.tmp

# Archivos de entorno local
.env.local
.env.development.local
.env.test.local
.env.production.local
uploads/*
